<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Ian Wang | Profile</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="css/normalize.css">
        <link rel="stylesheet" href="css/helpers.css">
        <link rel="stylesheet" href="css/skeleton.css">
        <link rel="stylesheet" href="css/style.css">
        <link rel='shortcut icon' href='favicon.ico'>
        <link href="http://fonts.googleapis.com/css?family=Noto+Sans:400,700,400italic,700italic" rel="stylesheet" type="text/css">
        <link href="http://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
        <script src="js/vendor/modernizr-2.6.2.min.js"></script>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
        <![endif]-->

        <div class='container'>

          <header class='profile'>
            <div class='row'>
              <div class='logo-container'>
              </div>
              <p class='summary'>Hi there, I’m <strong>Ian Wang</strong>
                (<a href='https://twitter.com/IanWang36'>@IanWang36</a>),<br>
                I'm a <span class='roles'>web developer</span> from Taipei, Taiwan,<br> 
                focusing on frontend technologies and Nodejs development.</br>
                I dedicate myself to www to make wonderful things happen.<br>
              </p>

            </div>

            <div class='row contact'>
              <p>Contact me, or read more about me:</p>
              <a href='mailto:gogoenwon@gmail.com' target='_top'>
                <i class="fa fa-envelope-o fa-2x"></i>
              </a>
              <a href='http://github.com/IanWang' target='_blank'>
                <i class="fa fa-github fa-2x"></i>
              </a>
              <a href='http://tw.linkedin.com/pub/ian-wang/56/2a7/2a5/en' target='_blank'>
                <i class="fa fa-linkedin fa-2x"></i>
              </a>
              <a href='https://twitter.com/IanWang36' target='_blank'>
                <i class="fa fa-twitter fa-2x"></i>
              </a>
              <a href='https://stackoverflow.com/users/3066810/ian-wang' target='_blank'>
                <i class="fa fa-stack-overflow fa-2x"></i>
              </a>
            </div>

          </header>

          <div class='divider'></div>

          <section class='portfolio'>
        
            <h2>Some Projects</h2>

            <div class="_nav clearfix">
              <div class="_prev _disabled">previous</div>
              <div class="_next">next</div>
            </div>

            {{> project}}

          </section>

          <div class='divider'></div>
          
          <footer>
            <div class='row'>
              <small>Ian Wang © 2015</small>
            </div>
          </footer>
        </div>


        <script src="js/plugins.js"></script>
        <script src="https://cdn.jsdelivr.net/classlist/2014.01.31/classList.min.js"></script>
        <script src="http://cdn.jsdelivr.net/blazy/latest/blazy.min.js"></script>
        <script src="js/main.js"></script>

        <script>
            (function(b,o,i,l,e,r){b.GoogleAnalyticsObject=l;b[l]||(b[l]=
            function(){(b[l].q=b[l].q||[]).push(arguments)});b[l].l=+new Date;
            e=o.createElement(i);r=o.getElementsByTagName(i)[0];
            e.src='//www.google-analytics.com/analytics.js';
            r.parentNode.insertBefore(e,r)}(window,document,'script','ga'));
            ga('create','UA-61511192-1');ga('send','pageview');
        </script>
    </body>
</html>
