body {
  font-family: "Noto Sans", sans-serif;
  font-weight: 300;
  color: rgb(102, 102, 102);
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  background: whitesmoke;
}

a {
  color: inherit;
  text-decoration: none;
  display: inline-block;
  border-bottom: 1px solid #666666;
  -webkit-transition: all ease-in-out 0.2s;
  transition: all ease-in-out 0.2s;
}

a:hover, a:active {
  outline: 0;
}
a:hover {
  color: #dd1d35;
  border-bottom: 1px solid white;
}
header a:hover {
  border-bottom: 1px solid #f9f1e4;
}

header, footer, section {
  width: 100%;
  text-align: center;
  padding: 8em 0;
}

.profile {
  padding-top: 10em;
}
.profile .summary {
  margin: 0 auto;
}

.profile .roles {
  background: rgb(84, 96, 178);
  color: white;
  padding: 0 0.4em 0.4em; 
  cursor: pointer;
}
.divider {
  background: url('../img/divider.png') center no-repeat;
  padding: 1px;
}

.portfolio .project {
  padding: 5em 0;
}
.project .info {
  text-align: right;
}
.project .info h5 {
  color: rgb(84, 96, 178);
}
.project .info .links a {
  border: 0;
}
.project .info .links a i {
  margin-left: 0.5em;
}
.project .screenshot img {
  max-width: 100%;
}

.contact a {
  display: inline-block;
  margin: 0 0.5em;
  border: 1px solid #d6d6d6;
  color: #aaaaaa;
  height: 5em;
  width: 5em;
  line-height: 6em;
  border-radius: 100%;
}
footer {
}
@media (max-width: 750px) {
  .project .info {
    text-align: center;
  }
  
}
